[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
h5py = "*"
tensorflow-macos = {version="==2.10"}
tensorflow-metal = {version="==0.6"}
scikit-learn = "*"
matplotlib = "*"
librosa = "*"
tsaug = "*"
seaborn = "*"
ipywidgets = "*"
tsinterpret = "*"

[dev-packages]
pre-commit = "*"
notebook = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
