[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = {extras = ["gdrive"], version = "*"}
pandas = "*"
h5py = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"

[dev-packages]
pre-commit = "*"
notebook = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
